{% extends 'layout.html' %}

{% block title %}
	دسته بندی ها
{% endblock %}

{% block content %}
    <div class="container" style="display: flex ; flex-wrap: wrap ; padding: 50px">
    {% for category in categories %}
    	<div style="width: 20% ; border-radius: 5px ; border: 1px dotted blue ; padding: 10px ; text-align: center">
            <h2>{{ category.title }}</h2>
        </div>
    {% for child_category in child_categories %}
    	<div style="width: 20% ; border-radius: 5px ; border: 1px dotted red ; padding: 10px ; text-align: center">
            <a href="{% url 'category_detail' child_category.url_title %}">{{ child_category.title }}</a>
        </div>
    {% endfor %}

    {% endfor %}

{#    {% for child_category in child_categories %}#}
{#    	<div style="width: 20% ; border-radius: 5px ; border: 1px dotted red ; padding: 10px ; text-align: center">#}
{#            <a href="{% url 'category_detail' child_category.url_title %}">{{ child_category.title }}</a>#}
{#        </div>#}
{#    {% endfor %}#}
    </div>
	
{% endblock %}