{% extends 'layout.html' %}

{% block title %}
	تماس با ما
{% endblock %}

{% block content %}
	<main class="content">
        <div class="container">
            <div class="contact-us">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-xs-12">
                        <div class="contact-right">
                            <h1>تماس با ما</h1>
                            <div class="contact-item">
                                <i class="fal fa-envelope"></i>
                                <h4>پست الکترونیک
                                    <span>info@vira.com</span>
                                </h4>
                            </div>
                            <div class="contact-item">
                                <i class="fal fa-phone"></i>
                                <h4>شماره تماس
                                    <span>0211234567</span>
                                </h4>
                            </div>
                            <div class="contact-item">
                                <i class="fal fa-map"></i>
                                <h4>آدرس
                                    <span>خراسان شمالی، بجنورد</span>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-xs-12">
                        <div class="contact-left">
                            <form method="post">
                                {% csrf_token %}
                                <div class="contact-item">
                                    <label for="#">
                                        نام (اجباری)
                                    </label>
                                    <br>
                                    {{ contact.name }}
{#                                    <input type="text" name="name" class="input-contact your-name">#}
                                </div>
                                <div class="contact-item">
                                    <label for="#">
                                        ایمیل (اجباری)
                                    </label>
                                    <br>
                                    {{ contact.email }}
{#                                    <input type="email" name="email" class="input-contact your-email">#}
                                </div>
                                <div class="contact-item">
                                    <label for="#">
                                        موضوع(اجباری)
                                    </label>
                                    <br>
                                    {{ contact.subject }}
{#                                    <input type="text" name="subject" class="input-contact your-subject">#}
                                </div>
                                <div class="contact-item">
                                    <label for="#">
                                        پیام شما
                                    </label>
                                    <br>
                                    {{ contact.message }}
{#                                    <textarea cols="40" rows="10" name="message" class="textarea-contact your-message"></textarea>#}
                                </div>
                                <div class="contact-item">
                                    <button type="submit" class="btn btn-dark send-contact">ارسال</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}